// $primary: #111111;
$primary-text: #ffffff;

.dashboard {
    background-color: #111111;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    color: white;
    // border: 1px solid #FFF;
}

.dashboard-content-wrapper {
    // border: 1px solid #FFF;
    width: 100%;
    max-width: 1400px;
}

.dashboard-content {
    // border: 1px solid #FFF;
    display: grid;
    grid-template-columns: repeat(5, minmax(0, 1fr));
    grid-template-rows: repeat(6, 110px);
    gap: 0.75rem;
    // background-color: #002225;
    // padding: 2rem;
    border-radius: 1rem;

    .navigation {
        grid-column: 0 / 2;
        grid-row: span 6;
        border-radius: 1rem;
        background-color: #002225;
        padding: 2rem;
    }

    .posts {
        position: relative;
        grid-column: 2 / 4;
        grid-row: span 6;
        border-radius: 1rem;
        background-color: #FFFFFF;
        padding: 2rem;

        color: white;
        overflow: hidden;

        .posts-wrapper {
            display: grid;
            grid-template-columns: repeat(3, minmax(0, 1fr));
            gap: 0.75rem;

            .post {
                background-color: #002225;
                // height: 150px;
                border-radius: 0.5rem;
                border: none;
                color: white;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                overflow: hidden;
                width: 100%;
                padding: 4rem 1rem;

                &:hover {
                    background-color: rgba($color: #002225, $alpha: 0.5);
                    transition: background-color 0.3s ease;
                }
            }

            #hidden {
                display: none;
            }

            .full-post {
                position: absolute;
                inset: 0;
                background-color: #002225;
                border-radius: inherit;
                display: flex;
                flex-direction: column;
                padding: 2rem;
                gap: 0.75rem;
                word-wrap: break-word;

                .close-post {
                    align-self: flex-end;
                    color: red;
                    font-size: 3rem;
                    cursor: pointer;
                    border-radius: 2rem;
                    border: none;
                    background: none;

                    &:hover {
                        color: rgba($color: red, $alpha: 0.5);
                        transition: color 0.3s ease;
                    }
                }

                .date-posted {
                    color: rgba($color: #FFFFFF, $alpha: 0.7);
                    font-size: 0.9rem;
                }

                .content {
                    line-height: 1.8rem;
                    // padding: 0.5rem;
                    color: rgba($color: #FFFFFF, $alpha: 0.7)
                }
            }
        }
    }

    .post-count {
        grid-column: 4 / 5;
        grid-row: span 2;
        border-radius: 1rem;
        background: linear-gradient(180deg, #AEF0FF, #74C1FF);
        color: rgba($color: #000000, $alpha: 0.7);
        padding: 2rem;

        .post-count-title {
            font-size: 1.4rem;
            font-weight: 600;
        }

        .post-count-number {
            font-size: 6.5rem;
            font-weight: 700;
            text-align: start;
            margin-top: 3rem;
        }
    }

    .fav-image {
        grid-column: 5 / 6;
        grid-row: span 2;
        border-radius: 1rem;
        background-color: #FFFFFF;
        overflow: hidden;

        .fav-img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .something {
        grid-column: 4 / 6;
        grid-row: 3 / 5;
        border-radius: 1rem;
        background: linear-gradient(180deg, #A3FFB1, #87FFD9);
    }

    .calendar {
        grid-column: 4 / 6;
        grid-row: 5 / 7;
        border-radius: 1rem;
        background-color: #FFFFFF;
    }
}