$primary-text: #ffffff;

.entry {
    background-color: #111111;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    color: white;
}

.entry-content-wrapper {
    width: 100%;
    max-width: 1400px;
}

.entry-content {
    display: grid;
    grid-template-columns: repeat(5, minmax(0, 1fr));
    grid-template-rows: repeat(6, 110px);
    gap: 0.75rem;
    border-radius: 1rem;

    .navigation {
        grid-column: 0 / 2;
        grid-row: span 6;
        border-radius: 1rem;
        background-color: #002225;
        padding: 2rem;
    }

    .entry-form-wrapper {
        grid-column: 2 / 6;
        grid-row: span 6;   
        border-radius: 1rem;
        background-color: #002225;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .entry-form {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            width: 100%;
            max-width: 400px;
            padding: 2rem;
            border-radius: 1rem;
            background-color: #00383d;
            // box-shadow:
            //     0 0 10px rgba(0, 255, 200, 0.4),
            //     0 0 40px rgba(0, 255, 200, 0.25),
            //     0 0 80px rgba(0, 255, 200, 0.15);

            .entry-title {
                background-color: #111111;
                border: none;
                color: white;
                padding: 1rem 0.75rem;
                border-radius: 0.5rem;

                &::placeholder {
                    color: #888888;
                }
            }

            .entry-post {
                background-color: #111111;
                border: none;
                color: white;
                padding: 1rem 0.75rem;
                border-radius: 0.5rem;
                height: 400px;
                resize: none;

                &::placeholder {
                    color: #888888;
                }
            }

            .entry-btn {
                background-color: #58FFA3;
                border: none;
                color: black;
                padding: 0.75rem;
                border-radius: 0.5rem;
                cursor: pointer;

                &:hover {
                    background-color: rgba($color: #58FFA3, $alpha: 0.6);
                }
            }

            .error-message {
                color: #FF6B6B;
                text-align: center;
            }
        }
    }
}