.logout-btn {
    background-color: #58FFA3;
    color: #000000;
    border: none;
    padding: 1rem 2rem;
    border-radius: 0.5rem;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
    width: 150px;

    &:hover {
        background-color: rgba($color: #58FFA3, $alpha: 0.5);
    }
}