.navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;

    .nav-intro {
        .nav-title {
            font-size: 2rem;
            margin-bottom: 2rem;
            text-align: center;
            font-weight: 600;
            letter-spacing: 0.1rem;
        }

        .nav-image {
            width: 180px;
            height: 180px;
            border-radius: 50%;
            background-color: #ebebeb;
            color: black;
            display: flex;
            justify-content: center;
            align-items: center;
            overflow: hidden;
            margin-top: 3rem;

            .pfp {
                width: 180px;
                height: 180px;
                object-fit: cover;
            }
        }
    }

    .nav-links {
        display: flex;
        flex-direction: column;
        font-size: 1.5rem;
        gap: 2rem;

        .link {
            display: flex;
            align-items: center;
            gap: 0.5rem;
            text-decoration: none;
            color: rgb(165, 165, 165);

            &:hover {
                color: rgb(230, 230, 230);
                transition: color 0.3s ease;
            }
        }

        .link.active {
            color: #58FFA3;
            font-weight: 600;
        }
    }
}