$primary-text: #ffffff;

.settings {
    background-color: #111111;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    color: $primary-text;
}

.settings-content-wrapper {
    width: 100%;
    max-width: 1400px;
}

.settings-content {
    display: grid;
    grid-template-columns: repeat(5, minmax(0, 1fr));
    grid-template-rows: repeat(6, 110px);
    gap: 0.75rem;
    border-radius: 1rem;

    .navigation {
        grid-column: 0 / 2;
        grid-row: span 6;
        border-radius: 1rem;
        background-color: #002225;
        padding: 2rem;
    }

    .settings-form {
        grid-column: 2 / 6;
        grid-row: span 6;
        border-radius: 1rem;
        background-color: #002225;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}