.sign-btn {
    padding: 1rem 2rem;
    min-width: 250px;
    border-radius: 1rem;
    border: none;
    letter-spacing: 1px;
    cursor: pointer;
    font-size: 1.2rem;
    background-color: transparent;
    border: 2px solid #FFFFFF;
    color: white;

    &:hover {
        background-color: rgba($color: #FFFFFF, $alpha: 0.8);
        color: black;
    }
}